<!-- <p [ngStyle]="{ 'color': 'blue', 'font-size': '20px' }">Styled Text</p>
 <div [ngClass]="{ 'highlight': isHighlighted }">Class Example</div> -->

 <!-- <div *ngIf="hasData; else noData">Data loaded!</div>
<ng-template #noData>No data available.</ng-template> -->
<!-- 
<button (click)="show = !show">Toggle</button>
<div *ngIf="show">This is toggled content</div>

<div *ngFor="let user of users; let i = index"> {{i+1}}  - {{ user.name }}</div> -->
<!-- 

<div [ngSwitch]="value">
  <p *ngSwitchCase="'case1'">Case 1</p>
  <p *ngSwitchCase="'case2'">Case 2</p>
  <p *ngSwitchDefault>Default Case</p>
</div> -->
<!-- 
<div *ngIf="hasData; else loadingTemplate">
  Data loaded!
</div>


<ng-template #loadingTemplate>
  <p>Loading data...</p>
</ng-template> -->
<app-event-list></app-event-list>
<app-login></app-login>
<app-user-profile></app-user-profile>
<app-admin-profile></app-admin-profile>

