<nav class="navbar">
    <div class="navdiv">
        <div class="logo"><a href="#">Eventora</a></div>
        <ul>

            <li><a routerLink="/menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li  *ngIf="!isAdmin"><a routerLink="/userprofile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Profile</a></li>  
            <li  *ngIf="isAdmin"><a routerLink="/adminprofile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Admin Dashboard</a></li>                      
            <li><a routerLink="/events" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Find Event</a></li>
            <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
            <button><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SignIn</a></button>
            <button><a routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SignUp</a></button>
            <button *ngIf="isLoggedIn"><a routerLink="/menu"  (click)="logout()">Log Out</a></button>

        </ul>
        
    </div>
</nav>

 



